$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;
$main_color: gray;
$main_bg: lightgreen;

.body{ margin: 0; padding: 0;}
.container{
  h1{
    color: $main_color;
  }
  .panel{
    .vehicle{
      padding: 0;
      border: solid 2px $main_color;
       @media only screen and (min-width: $mobile){
      }
      h1.make{
        padding: 10px 20px;
        text-align: center;
      }
    }
    button.btn {
      width: 100%;
      border-radius: 0;
    }
  }
}
